---
import Counter from "@/components/vue/counter.vue"
import BaseLayout from "@/layouts/base-layout.astro"
import { Counter as ReactCounter } from "@/components/react/counter"
---

<BaseLayout title="Home">
  <h1 class="bg-cyan-600">Home</h1>
  <Counter client:visible />
  <ReactCounter client:visible />
</BaseLayout>
